<div class="container text-center pt-5 w-50">
  <div class="text-center display-4 m3 text-light">Word Limit: {{ limit }}</div>
  <input
    type="range"
    min="1"
    max="50"
    value="{{ limit }}"
    class="slider form-control-range"
    (input)="handleSlideChange($event.target.value)"
  />
  <button class="btn btn-info" (click)="generate()">Get Words</button>
  <button class="btn btn-info m-2" (click)="generateCountries()">
    Get Countries
  </button>
  <div *ngIf="words" class="card card-body">
    <h5>Countries Count: <span class="text-info">{{ limit }}</span></h5>
    <p class="">
      {{ words }}
    </p>
  </div>
  <div *ngIf="countries" class="card card-body my-2">
    <h5>Countries Count: <span class="text-info">{{ countryLimit }}</span></h5>
    <p class="">
      {{ countries }}
    </p>
  </div>
</div>
